// kontakt form forside

.contactform-forside {

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    margin: 10px 0 5px 0;
    padding: 12px 12px;
    border: none;
    border-radius: 0;
    background-color: lighten($red2, 5%);
    width: 100%;
    transition: all .6s;
    color: #fff;

    &:focus {
      outline: none;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: lighten($red2, 10%);
    }
  }

  input.wpcf7-form-control.wpcf7-text {
    margin: 10px 0 5px 0;
    padding: 12px 12px;
    border: none;
    border-radius: 0;
    background-color: lighten($red2, 5%);
    width: 100%;
    transition: all .6s;
    color: #fff;

    &:focus {
      outline: none;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: lighten($red2, 10%);
    }
  }

  input.wpcf7-form-control.wpcf7-submit {
    @extend .btn;
    @extend .btn-1;
    @extend .btn-push;
    margin: 25px 0 0 0 !important;
    text-align: !important;
  }

  span.wpcf7-form-control-wrap {
    font-size: 14px;
    font-weight: 300;
  }

  ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #fff;
  }


  // _error handling
  div.wpcf7-validation-errors {
    border: none;
    font-weight: 300;
  }

  .wpcf7-response-output.wpcf7-mail-sent-ok {
    border: none !important;
    font-weight: 300;
  }


  div.wpcf7-response-output {
    margin: 25px 0 0 0;
    padding: 0;
  }

  span.wpcf7-not-valid-tip {
    padding-left: 4px;
    color: #fff;
    font-size: 12px;
  }

  br {
    display: none;
  }
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  border: 0;
  padding: 0;
  margin: 40px 0 0 7px;
  float: left;
  display: block;
}









// kontakt form underliggende

.contact-intro {
  text-align: center;
}

.contactform {

  .besked {
    height: 200px;
  }

    .left, .right {
      padding: 0 7px;
    }

  input.wpcf7-form-control.wpcf7-text {
    margin: 10px 0 5px 0;
    padding: 12px 12px;
    border: none;
    border-radius: 0;
    background-color: $grey;
    width: 100%;
    transition: all .6s;
    color: $black;
    font-weight: 400;

    &:focus {
      outline: none;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  textarea.wpcf7-form-control.wpcf7-textarea {
    margin: 10px 0 5px 0;
    padding: 12px 12px;
    border: none;
    border-radius: 0;
    background-color: $grey;
    width: 100%;
    height: 200px;
    transition: all .6s;
    color: $black;
    font-weight: 400;
    resize: none;

    &:focus {
      outline: none;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  input.wpcf7-form-control.wpcf7-submit {
    @extend .btn;
    @extend .btn-1;
    @extend .btn-push;
    margin: 15px 0 5px 0 !important;
  }

  span.wpcf7-form-control-wrap {
    font-size: 14px;
    font-weight: 300;
  }

  ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #838383;
    font-weight: 300;
  }


  // _error handling
  .wpcf7-response-output.wpcf7-mail-sent-ok {
    border: none;
    font-weight: 300;
  }

  span.wpcf7-not-valid-tip {
    padding-left: 4px;
    color: $red;
    font-size: 12px;
  }

  br {
    display: none;
  }
}

div.wpcf7-response-output.wpcf7-validation-errors {
  border: 0;
  padding: 0;
  margin: 40px 0 0 7px;
  float: left;
}


a.social {
  margin-top: 20px;
  font-size: 15px;
  color: $black;
  transition: all .3s;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}

.contact-row {
  background-color: #fff;
  padding: 45px 30px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .contact-intro {
    text-align: left;
  }

  .contact-row {
    background-color: #fff;
    padding: 30px 0;
    margin-top: 20px;
  }

  input.wpcf7-form-control.wpcf7-submit {
    width: 100% !important;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
