.blog-intro {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 150px 0 !important;
  color: #fff;
  background-image:
    linear-gradient(rgba(27, 27, 28, 0.9), rgba(27, 27, 28, 0.75)),
    url(../images/blog.jpeg);
  background-size: cover;
  background-position: 50% 10%;

  h1 {
    font-size: 35px;
  }

  p {
    font-weight: 300;
    line-height: 180%;
    letter-spacing: 0.8px;
  }
}

.post-entry {
  @extend .card-1;
  background-color: #fff !important;
  margin-bottom: 25px;
  position: relative;
  min-height: 435px;
  transition: all .3s;

  &:hover {
    @extend .card-2;
    transform: translateY(-5px);
  }

  header {
    width: 100%;
    position: relative;

    .post-meta {
      position: absolute;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      padding: 5px 15px 12px 15px;

      .post-timestamp {
        font-weight: 300;
        color: #555;
      }

      h2 {
        margin: 0 !important;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .entry-summary {
    padding: 15px;
    font-size: 15px;

    p {
      font-size: 15px;
    }

    .moretag {
      position: absolute;
      bottom: 3%;
    }
  }

  a {
    color: $black;
    transition: all .3s;

    &:hover {
      color: darken($red2, 10%);
    }
  }
}

a.moretag {
  color: $red2;
}


// single blog post
.single {

  .main {
    padding: 0;
  }

  .single-wrap {
    @extend .card-1;
    background-color: #fff;
    padding: 20px;
  }

  .sidebar-single {
    @extend .card-1;
    background-color: #fff;
    padding: 15px;

    h3 {
      margin-bottom: 30px;
      margin-top: 0;
    }

    a {
      font-size: 15px;
    }

    .rpwe-time {
      font-size: 13px;
    }

    .rpwe-thumb {
      margin: 0 10px 0 0;
    }

    .rpwe-summary {
      line-height: normal;
      margin-top: 5px;
      font-size: 14px;
      margin-bottom: 15px;
    }

    .rpwe-clearfix {
      margin-bottom: 20px;
    }
  }

  header {
    margin-bottom: 30px;
  }
}




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .blog-intro {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 100px 0 !important;
    background-position: 50% 10%;

    h1 {
      font-size: 40px;
    }
  }

  .post-entry {
    min-height: 100%;
  }

  .entry-summary {
    padding: 15px;
    font-size: 15px;

    p {
      font-size: 15px;
    }

    .moretag {
      position: static !important;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
