@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$blue:                  #0496ff;
$black:                 #01161e;
$red:                   #ed1a52;
$red2:                  #e65245;
$red3:                  #cb4e4e;
$grey:                  #f7f7f9;

$gradient:              radial-gradient(#031f2a , #01161e);


$oxygen:                'Oxygen', sans-serif;
