@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/blog";
@import "common/global";
@import "components/contactform.scss";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  background-color: $grey;
  font-family: $oxygen;
  font-size: 15px;
  color: #333333;
  line-height: 170%;
}

.main {
  margin-top: 125px;
  margin-bottom: 50px;
  padding: 0;
}

.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
}

.page-header-image {
  margin-bottom: 65px;
  margin-top: 61px;
	display: block;
  padding: 125px 0 !important;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: 50% 80%;

  h1 {
    position: relative;
    margin: 0;
    font-size: 40px;
  }
}

.wrap-forside {
  margin-top: 60px;
}

.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
}

// helpers

// box shadows
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1-hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.img-boxshadow-1 {
  img {
    @extend .card-1;
  }
}

.img-boxshadow-2 {
  img {
    @extend .card-2;
  }
}

.img-boxshadow-3 {
  img {
    @extend .card-3;
  }
}
// -- box shadows

// helpers

// general styles
h1 {
  margin: 15px 0;
  margin-top: 0;
  font-size: 35px;
  font-weight: 400;
}

h2 {
  margin: 15px 0 15px 0;
  font-size: 26px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  margin: 0 0 20px 0;
}

p {
  font-size: 16px;
  letter-spacing: 0.6px;
}

a {

  &:hover {
    text-decoration: none;
  }
}

.lead {
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 300;
}


/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 50px;
	display: inline-block;
	margin: 15px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
  text-align: !important;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	transition: none;
  text-align: !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #cb4e4e;
    color: #fff;
    outline: 0 !important;
  }
}

/* Button push */
.btn-push {
	border-radius: 0 0 5px 5px;
  text-align: !important;
}

.btn-push:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-push:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}


// search input btn
input.search-submit {
  @extend .btn-default;
  padding: 5px 25px !important;
  text-align: !important;

  &:hover {
    @extend .btn-default:hover;
  }
}

// -- general styles

// visual composer styles

// vc flat grey btn
.vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
  @extend .btn-default;

  &:hover {
    @extend .btn-default:hover;
  }
}

// default visual composer column spacing bottom
.wpb_content_element {
  margin-bottom: 20px;
}

// spacing a visual composer row
.row-padding-white-top {
  padding-top: 75px;

  h3 {
    margin-top: 0;
  }
}

.row-padding-white-bottom {
  padding-bottom: 75px;
}

// -- visual composer styles


// nav desktop

// forside
.home {

  .navbar-default {
    box-shadow: none;
  }

  .forside-intro {
    padding: 175px 0 !important;
    color: #fff;
    text-align: center;
    background-image:
      linear-gradient(rgba(27, 27, 28, 0.9), rgba(27, 27, 28, 0.75)),
      url(../images/photo.jpeg);
    background-size: cover;
    background-position: 50% 80%;


    h1 {
      position: relative;
      margin-bottom: 50px;
      font-size: 40px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin: 50px 0 0 0;
    }

    .fa {
      font-size: 22px;

      span {
        font-size: 16px;
        margin-right: 40px;
        margin-left: 10px;
        font-family: $oxygen;
      }
    }
  }

  .referencer {
    background-color: #fff;
    border-bottom: 1px solid darken(#fff, 10%);

    img {
      padding: 40px 0;
    }
  }

  .beskrivelse-content {
    margin: 60px 0;

    .fa {
      font-size: 40px;
      color: #9c9b9b;
      position: absolute;
      top: 6%;
      left: -10%;
    }
  }

  .tilbud {
    padding: 100px 0 !important;
    color: #fff;
    background-color: $red2;

    h1 {
      margin-bottom: 25px;
    }

    .btn {
      margin-top: 50px;
    }
  }
} // end home


.navbar-default {
  background-color: #fff;
  padding: 5px 0;
  border: none;
  margin-bottom: 40px;
  transition: 0.5s;

  a.navbar-brand {
    transition: 0.3s;
    height: auto;
    color: $black;
    font-size: 20px;

    &:hover {
      color: $red;
    }
  }

  .navbar-nav {

    .active a {
      background-color: transparent;
      color: $red;
      border-bottom: 1px solid #fff;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $red;;
      }
    }

    li {
      margin-left: 10px;

      a {
        color: $black;
        transition: .3s;
        letter-spacing: 1px;
        padding: 15px;

        &:hover {
          color: $red;
        }
      }
    }
  }

  a.navbar-brand {
    color: $black;
    font-weight: 700;
  }
}
// nav desktop


// blog desk

.blog-archive {
  background-color: #fff;
  padding: 15px 15px;
  @extend .card-1;
  min-height: 200px;
  margin-bottom: 30px;
}

.seperator {
	border-left: 2px solid #e2dfdf;
  padding-left: 40px;
}


// tabs desk services
.vc_tta-container {
    background-color: #fff;
}

.vc_tta-tabs-container {
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

.vc_tta-color-white.vc_tta-style-flat .vc_tta-tab>a {
  background-color: #fff;
  color: #666;
  margin: 0 !important;
  padding: 35px 0px 20px 0px;
  border: none !important;
  width: 100% !important;

}

.vc_tta-color-white.vc_tta-style-flat .vc_tta-tab.vc_active>a {
  background-color: $black !important;
  color: #fff;
  padding: 35px 0px 20px 0px !important;
  margin: 0 !important;
  border: none !important;
  width: 100% !important;
}

.vc_tta.vc_general .vc_tta-tab {
    width: 16.6666667% !important;
    position: relative;
    vertical-align: middle;
}

.vc_tta.vc_general .vc_tta-icon {
    display: block !important;
    padding: 0px 0px 13px !important;
}

.vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child), .vc_tta.vc_general .vc_tta-title-text:not(:empty)~* {
    margin-left: 0;
}

.vc_tta.vc_general .vc_tta-panel-body {
  color: #333 !important;
  padding: 50px 20px 50px 20px;
}

// footer desk

// hide global contact on kontakt page
body.page-id-14 {

  .global-contact {
    display: none;
  }

  footer {
    margin-top: 100px;
  }
}

.global-contact {
  text-align: center;
  background: #fff;
  padding: 20px 0;
  color: #333;
  margin-top: 150px;

  p {
    margin: 0;
    font-size: 17px;
    font-weight: medium;
    margin-bottom: 5px;
  }

  a {
    color: #333;
    font-size: 17px;
    margin-top: 30px;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      color: $red;
    }

    .fa {
      margin-left: 10px;
    }
  }

}
.content-info {
  padding: 50px 15px;
}

.home .global-contact {
	margin-top: 0;
}

footer {
  background-color: $black;
  color: #fff;

  a.social {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }

  span.post-date {
    font-size: 12px;
    padding-left: 10px;
    margin-left: 5px;
    position: relative;
    color: #ebebeb;
    display: block;
    margin-bottom: 15px;
    font-weight: lighter;

    &:after {
      content:"";
      background: $red;
      position: absolute;
      bottom: 40%;
      left: 0;
      height: 1px;
      width: 5px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    a {
      color: #fff;
      font-size: 15px;
      font-weight: medium;
      letter-spacing: 0.8px;
      line-height: 1.625;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 10px 0 25px 0;
    position: relative;

    &:after {
      content:"";
      border-bottom: 3px solid $red;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 70px;
    }
  }

  p {
    font-size: 15px;
    font-weight: medium;
    letter-spacing: 0.8px;
    line-height: 1.625;
  }

  .copyright {
    padding: 5px 0;
    margin-top: 50px;

    p {
      margin: 0;
      padding-top: 5px;
      font-size: 13px;
      font-weight: 300;
      position: relative;
    }
  }

}
// footer styles









/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.es-70 {
		display: none;
	}

  // forside small
    .home {

      .forside-intro {
        padding: 60px 10px !important;
        margin-top: 5px;
        text-align: left;
      }

      .referencer {
        padding: 20px 0;

        img {
          padding: 10px 40px;
        }
      }

      .beskrivelse-content {
        padding: 0 15px;
        margin-top: 50px;

        h1 {
          text-align: left !important;
          padding: 0 10px;
        }

        h3, p {
          padding: 0 10px;
        }

        .fa {
          display: none;
        }
      }

      .tilbud {
        padding: 75px 20px !important;
        color: #fff;
        background-color: $red2;
      }
    }
  // forside small

  // nav mobile
  .navbar-default {

    .navbar-toggle {
      border: none;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      span.icon-bar {
				display: block;
				width: 27px;
				height: 3px;
				background-color: #333;
				border-radius: 2px;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
				margin-top: 4px;
				cursor: pointer
      }
    }

    .navbar-nav {

      li {

        a {
          color: $black;
        }
      }
    }

    .navbar-collapse {
      margin-top: 4px;
      background-color: transparentize(#fff, 0.05);
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;

      a {
        margin: 25px 0;
        font-size: 17px;
      }
    }
  }

  .collapsing {
    transition: height .3s ease;
  }
  // nav mobile

	// tabs mobile
  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title>a {
      padding: 30px 0;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
  }

  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title>a {
    color: #fff !important;
  }

  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-heading {
    background-color: $black;
    color: #fff !important;
  }

  .vc_tta.vc_general .vc_tta-panel-body {
    color: #333 !important;
    padding: 20px;
  }

  // footer small

  .global-contact {
    padding: 15px 0px;
    text-align: left;

    p {
      font-size: 15px;

      a {
        font-size: 15px;
      }
    }
  }

  footer {

    .copyright {
      text-align: center;
      margin-top: 0;
    }

    .footer-col {
      margin-bottom: 50px;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 14px !important;
    }

  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
